@model ChangePasswordViewModel
@inject IViewLocalizer Localizer

<div asp-validation-summary="All"></div>
<form method="post" asp-controller="User" asp-action="ChangePassword">
    <table class=".table-borderless">
        <tbody>
            <tr>
                <td>@Localizer["Old password"]:</td>
                <td><input asp-for="OldPassword" /></td>
            </tr>
            <tr>
                <td>@Localizer["New password"]:</td>
                <td><input asp-for="NewPassword" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="@Localizer["Change"].Value" /></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</form>